header {
background-color: #006533;
color: #000000;
font-size:x-large;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
font-variant: small-caps;
}

main {
background-color:whitesmoke

}

h1{
color: #94c020;
background-color: #006533;

}



.pecana {
    width:200px ;height: 200px;
}

.pecanaheader{
    width:80px ;height: 80px;

}

p {
    text-align:justify
}

.title {
    text-align: center;
    font-size: 550%;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
}

.fondo {
    width:148%; height:max-content;
}

.social {
    width: 150px; height: 50px;
}

body {
background-image: url(/img/fondo.jpg);
background-repeat:no-repeat;
background-size: cover;
}