header {
    background-color: #006533;
    color: #000000;
    font-size:x-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-variant: small-caps;
    }

    h1{
        color: #94c020;
        background-color: #006533;
    }
a {
font-size:xx-large

}